@charset "utf-8";
/* CSS Document */
#news{
	background-color:#F4F4F4;
	color:#111;}

	.news_singl{
		float:right;
		width:70%;
		height:15.625em;
		direction:rtl;
		border:think 0.1875em #3C415B;
		margin:1.25em;
	margin-bottom:1.25em;
	font-size:1em;

		}
		.news_singl img{
			float:right;
			width:12.5em;
			height:12.5em;
			margin-left:0.625em;

			}
			.news_singl h2{
				background-image:url(../images/header.png);
				color:#ffffff;
				padding:0.3125em;
				margin:auto;
				text-align:center;}
				.news_singl a{position:absolute;
				left:30%;}
