body
{
	background:#ccc;
}

/* ..... Navbar ......*/

.navbar
{
	min-height:33px !important;
	padding-top:0;
	margin-bottom:0;
	border-radius:0;
}

.navbar-nav > li a .navbar-brand
{
	padding-top:4px !important;
	padding-bottom:0 !important;
	height:33px;
	color:green;
}

.clnav
{
	margin-left:5%
}

.clnav-n
{
	margin-left:780%
}

/* ..... Navbar ......*/




/* ..... Header ......*/

#header
{
	background:#333;
	color:#fff;
	padding-bottom:10px;
	margin-bottom:15px;
}


#header .create 
{
	padding-top:20px;
}
/* ..... Header ......*/







/* ..... breadcrumb ......*/

#breadcrumb
{
		background:#ccc;
		color:#333;

}

#breadcrumb a
{
		
		color:#333;

}


/* ..... breadcrumb ......*/




/* ..... content......*/
..panel
{

		background:#fff;
		border-radius:3px;
		padding:0px;
		height:150px;
		.box-shadow:1px  0px 15px;


		

}
.panel-title
{

		color:#fff;
		padding:5px;
		border-radius:3px;
		.border-top-right-radius:3px;
		padding-left:23px;
		font-size:16px;

}

.col-md-3
{
	float:left;
}
.stat
{
	margin:2px;
	padding:2px;
	margin-left:40px; 
	border-radius:10px;

}

.home-stats .stat
{
	background:#eee;

}

.home-stats .stat span
{
	display:block;
	font-size:20px;
}




/* ..... content......*/



/* ..... footer ......*/


#footer
{
	background:gray;
	color:#fff;

	margin-top:75px;
}


/* ..... footer ......*/


.menu-icon
{
	position: fixed;
	top:240px;
	left:470px;
	height:40px;
	width:40px;
	padding: 4px 8px;
	background:#262626;
	box-sizing: border-box;
	cursor:pointer;
	color:#fff;
	-webkit-border-radius:20px ;
	-moz-border-radius:20px ;
	-o-border-radius:20px ;
	border-radius: 10px;
}

.menu-icon span
{
	width:100%;
	height:4px;
	display:block;
	background:#fff;
	margin:6px 0;
	transition:.5s;

}
.menu-icon .active span
{
	position: absolute;
	width: calc(100% - 16px);
	top:calc(50% - 8px);
}

.menu-icon .active span:nth-child(1)
{
	transform: rotate(45deg);
}
.menu-icon .active span:nth-child(3)
{
	transform: rotate(-45deg);
}

.menu-icon .active span:nth-child(2)
{
	display:none;
}

.sidebar
{
	.position: fixed;
	left:-300px;
}
.sidebar.active
{
	left: 0;

}
