
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #FAFDFB;
  width: 100%;
  overflow-x: hidden;  
}

@media (max-width: 768px) {
  #wrapper #content-wrapper {
    z-index: 2 !important;
  }
}
.container,
.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
  position: relative;
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
  border: 1px solid #fafafa;
}

.topbar {
  height: 3.375rem;
  z-index: 2;
  /* -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; */
  /* box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; */
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
  /* -webkit-box-shadow: 0 0 0 0 !important; */
  /* box-shadow: 0 0 0 0 !important; */
}

.topbar #sidebarToggleTop:hover {
  background-color: #fafafa;
}

.topbar #sidebarToggleTop:active {
  background-color: #dddfeb;
}

.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.75rem;
}

.topbar .nav-item .nav-link:focus {
  outline: none;
}

.topbar .nav-item:focus {
  outline: none;
}


.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #fafafa;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #e0e0e0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #858796;
}

.bg-navbar {
  background-color: #9e9fa7;
}

.sidebar {
  min-height: 100vh;
  width: 14rem !important;  
  background-color: #ffffff !important;
  /* -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; */
  /* box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; */
  z-index: 0;
}

.sidebar .nav-item {
  position: relative;
  margin-bottom: -3px;  
  border-bottom: 1px #e5e5e5  solid;
      
}

.nav-link{
    color: #3aa3a9;

}

.sidebar .nav-item .nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem;
  width: 14rem;
  color: #3aa3a9;

}

.sidebar .nav-item .nav-link i {
  font-size: 0.85rem;
  margin-right: 0.25rem;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.85rem;
  display: inline;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 800;
}

.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidebar #sidebarToggle:hover {
  text-decoration: none;
}

.sidebar #sidebarToggle:focus {
  outline: none;
}

.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
  z-index: 1;
}

.sidebar hr.sidebar-divider {
  margin: 1rem 0 1rem 0;
}

.sidebar .sidebar-heading {
  text-align: left;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.65rem;
  letter-spacing: 0.13rem;
}

.sidebar .sidebar-brand  {
  display: inline;
}

.sidebar.toggled {
  overflow: visible;
  width: 6.5rem !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  z-index: 1;
}

.sidebar.toggled .nav-item {
  margin-bottom: 0px;    
}


.sidebar.toggled hr.sidebar-divider {
  margin: 0 0 1rem 0;
}

.sidebar.toggled .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar.toggled .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 6.5rem;
}

.sidebar.toggled .nav-item .nav-link {
  background-color: transparent !important;
}

.sidebar.toggled .sidebar-heading {
  display: none;
}

.sidebar.toggled .nav-item .nav-link span {
  display: none;
}

.sidebar.toggled .nav-item .nav-link i {
  float: left;
  text-align: center;
  font-size: 1rem;
  margin: 0 0 0.7rem 1rem;
}

.sidebar.toggled .sidebar-brand  {
  display: none;
}

@media (max-width: 768px) {

  #container-wrapper {
    min-width: 100vw;
  }

  .sidebar.toggled {
    width: 100vw !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .sidebar.toggled .nav-item {
    margin-left: -1rem;
    position: relative;
    margin-bottom: -15px;
  }

  .sidebar.toggled .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
  }

  .sidebar.toggled .nav-item .nav-link i {
    font-size: 0.85rem;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
  }

  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.85rem;
    display: inline;
  }

  .sidebar.toggled .nav-item.active .nav-link {
    font-weight: 700;
  }

  .sidebar.toggled .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    letter-spacing: 0.05rem;
    z-index: 1;
  }

  .sidebar.toggled hr.sidebar-divider {
    margin: 1rem 0 1rem 0rem;
  }

  .sidebar.toggled .sidebar-heading {
    display: block;
    text-align: left;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
    letter-spacing: 0.13rem;
  }

  .sidebar.toggled .sidebar-brand  {
    display: inline;
  }

  .sidebar {
    width: 0 !important;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }

  .sidebar .sidebar-brand {
    overflow: hidden;
  }

  .sidebar .sidebar-brand  {
    overflow: hidden;
  }

  .sidebar .nav-item {
    overflow: hidden;
  }

  .sidebar .sidebar-brand .sidebar-brand-icon img {
    overflow: hidden;
  }

  .sidebar hr.sidebar-divider {
    margin: 1rem 0 1rem 0rem;
  }
}

/* ..... content......*/

.panel-title
{
		color:#fff;
		padding:5px;
		border-radius:3px;
		border-top-right-radius:3px;
		padding-left:23px;
		font-size:16px;
}

.col-md-3
{
	float:left;
}
.stat
{
	margin:2px;
	padding:2px;
	margin-left:40px; 
	border-radius:10px;

}

.home-stats .stat
{
	background:#eee;

}

.home-stats .stat span
{
	display:block;
	font-size:20px;
}
.user{

  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

  /* notification */

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #17A2B8;
  }
  .dropdown-menu{
    top: 60px;
    right: 0px;
    left: unset;
    width: 360px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
  }
  .dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
  }
  .head{
    padding:5px 15px;
    border-radius: 3px 3px 0px 0px;
  }
  .footer{
    padding:5px 15px;
    border-radius: 0px 0px 3px 3px; 
  }
  .notification-box{
    padding: 10px 0px; 
  }
  .bg-gray{
    background-color: #eee;
  }
  .noti-icon{
    font-size: 35px;
    position: absolute;
    top: 15px;
  }
  @media (max-width: 640px) {
      .dropdown-menu{
        top: 50px;
        left: -16px;  
        width: 290px;
      } 
      .nav{
        display: block;
      }
      .nav .nav-item,.nav .nav-item a{
        padding-left: 0px;
      }
      .message{
        font-size: 13px;
      }
  }
  /* notification */

.text-blue{
  color:#3aa3a9;
}

a:hover {
  color: #3aa3a9;}